@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap");
.question-container {
  margin-top: 60vh; }
  @media screen and (max-width: 900px) {
    .question-container {
      padding-right: 0px !important;
      padding-left: 0px !important; } }
  .question-container .col-final-submit {
    padding-top: 20px;
    margin: 50px 0; }
    .question-container .col-final-submit .btn-go-form {
      padding: 25px;
      font-size: 2rem;
      font-weight: 800;
      font-style: italic; }
  .question-container .attribute-names {
    font-style: italic;
    padding-bottom: 2rem; }
    @media screen and (max-width: 900px) {
      .question-container .attribute-names {
        padding-bottom: .5rem; } }
  .question-container .question-button-col {
    margin-top: 1.5rem; }
  .question-container .questionario-title {
    font-family: "Roboto", sans-serif !important;
    font-style: italic; }
  .question-container .question-row {
    margin: 5rem 1.5rem;
    padding: 1rem;
    border: #464444 1px solid;
    border-radius: 10px;
    font-weight: 800; }
    @media screen and (max-width: 900px) {
      .question-container .question-row {
        margin-right: 0px !important;
        margin-left: 0px !important; } }
    .question-container .question-row .record-option {
      font-weight: 500;
      padding: 2rem 0rem;
      border: grey 1px dashed;
      border-radius: 20px; }
      @media screen and (max-width: 900px) {
        .question-container .question-row .record-option {
          padding-right: 0px !important;
          padding-left: 0px !important; } }

body {
  background-color: #f1c5ff !important;
  font-family: "Roboto", sans-serif !important; }

.main-container {
  padding: 0 3rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fae3e3 !important; }
  @media screen and (max-width: 900px) {
    .main-container {
      padding: 0 1.2rem; } }
  .main-container .container-div {
    padding: 30px; }
  .main-container .home-title {
    padding: 20px;
    font-weight: 500;
    font-family: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .main-container .home-description-text {
    padding: 0 55px;
    font-size: 1.1rem;
    text-align: left; }
    @media screen and (max-width: 900px) {
      .main-container .home-description-text {
        padding: 0.1rem; } }
  .main-container .home-image {
    width: 100%;
    opacity: 0.99;
    margin-top: 5px;
    min-height: 150px;
    border-radius: 20px; }
  .main-container .italian-button {
    background-color: #a1fca1; }
    .main-container .italian-button .italian-flag {
      width: 50px !important;
      font-size: 1.5rem; }
    @media screen and (max-width: 900px) {
      .main-container .italian-button {
        margin-bottom: 20px; } }
  .main-container .english-button {
    background-color: #9d9be4; }
    .main-container .english-button .english-flag {
      font-size: 1.5rem;
      width: 50px !important; }
    @media screen and (max-width: 900px) {
      .main-container .english-button {
        margin-bottom: 20px; } }
  .main-container .home-description {
    padding: 25px; }
  .main-container .iframe-container {
    margin-top: 55px !important;
    padding: 0 !important; }
  .main-container .button-go-form {
    padding-top: 50px;
    margin: 50px 0; }
    .main-container .button-go-form .btn-go-form {
      padding: 25px;
      font-size: 2rem;
      font-weight: 800;
      font-style: italic; }

.myFooter {
  margin-top: 15px;
  background-color: #f1c5ff !important;
  font-weight: 600;
  color: black;
  min-height: 50px; }
  .myFooter .Icons {
    margin-top: 5px; }
  .myFooter a {
    color: black; }
